name: Auto Data Engine

on:
  schedule:
    - cron: "0 */6 * * *"  # Every 6 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run generator
        run: python generate.py

      - name: Commit changes
        run: |
          git config --global user.name "KannurAnudeepRaj"
          git config --global user.email "KannurAnudeepRaj@gmail.com"
          git add .
          git commit -m "Auto data update $(date)" || echo "No changes"
          git push
